<%- include('./partial/header') %>
    <div class="container">
      <h2>Selamat Datang di Jualin Dong! (JD)</h2>
      <p>Kami ada salah satu tempat untuk menjual suatu barang kualitas terbaik dengan harga terjangkau</p>
      <a href="/products" class="btn btn-dark">List Products</a>
    </div>
<%- include('./partial/footer') %>