<%- include('./partial/header') %>
    <div class="container">
      <h1>Selamat Datang di Jualin Dong! (JD)</h1>
      <a href="/products" class="btn btn-dark">List Products</a>
    </div>
<%- include('./partial/footer') %>